<% include ../partials/header %>

<main id="show-page" class="container text-center p-3">

    <form id="edit-comment-form" class="card p-3" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <p><strong>Edit comment from "<%= campground.name %>"</strong></p>
    <div class="form-group">
        <section class="text-left">
            <label for="text">Text:</label> 
        </section>
        <input id="text" type="text" aria-placeholder="Enter text" placeholder="Enter text" name="comment[text]" class="form-control" value="<%= comment.text %>">
    </div>
    <section class="d-flex justify-content-end">
        <button class="btn btn-success mr-1">Update</button>
        <a href="/campgrounds/<%= campground._id %>" class="btn btn-warning">Cancel</a>
    </section>
    </form>

</main>

<% include ../partials/footer %>