<% include ../partials/header %>

<main class="container col-10 col-md-7 col-lg-5 p-3">

    <section id="edit-campground" class="p-5">
    <h1 class="text-center pb-4">Edit - <%= campground.name %></h1>

    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <section class="form-group">
            <label for="name">Name:</label>
            <input id="name" type="text" aria-placeholder="enter name" placeholder="enter name" name="campground[name]" value="<%= campground.name %>" class="form-control">
        </section>

        <section class="form-group">
            <label for="image">Image Url:</label>
            <input id="image" type="text" aria-placeholder="enter image url " placeholder="enter image url" name="campground[image]" value="<%= campground.image %>" class="form-control">
        </section>

        <section class="form-group">
            <label for="description">Description:</label>
            <input id="description" type="text" aria-placeholder="enter a description" placeholder="enter a description" name="campground[description]" value="<%= campground.description %>"  class="form-control">
        </section>

        <section class="form-group">
            <label for="price">Price:</label>
            <input id="price" type="number" aria-placeholder="Enter a price" placeholder="Enter a price" name="price" min="0.00" step="0.01" value="<%= campground.price %>" class="form-control">
        </section>
        
        <section class="d-flex flex-column">
            <button class="btn btn-success mb-1">Update</button>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-warning">Cancel</a>
        </section>
    </form>
    </section>

</main>

<% include ../partials/footer %>