<% include ../partials/header %>

<% include ../partials/navbar %>

<main id="show-page" class="container text-center p-3">
    <section class="row">
        <!-- sidebar -->
        <section class="col-lg-3">
            <h4>KelpCamp</h4>
            <section  class="d-flex justify-content-center">
            <section class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item active">Info-1
                    <li class="list-group-item">Info-2
                    <li class="list-group-item">Info-3
                </ul>
            </section>
        </section>
        </section>
        <!-- maincampground info and comments -->
        <section class="col-lg-8 offset-lg-1 mt-3 mt-lg-0">

        <section class="card ">
            <img class="card-img-top img-fluid" src="<%= campground.image %>" alt="<%= campground.name %>">
            <section class="card-body text-left">
                <section class="d-flex justify-content-between">
                    <h4 class="card-title"><a href=""><%= campground.name %></a></h4>
                    <h4>$9.00/night</h4>
                </section>
                    <p class="card-text"><%= campground.description %></p>
                    <p>
                        <em class="small">Submitted by <%= campground.author.username %></em>
                    </p>
                  <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                    <section class="d-flex">
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning mr-1">Edit</a>
                        <a href="/campgrounds/<%= campground._id %>/delete" class="btn btn-danger">Delete</a>
                    </section>
                   <% } %>
                </section>
        </section>

          <!-- new comment form section -->
    <section class="dropdown-divider my-4"></section>

    <form id="new-comment-form" class="card p-3" action="/campgrounds/<%= campground._id %>/comments" method="POST">
        <p><strong>Add a comment to "<%= campground.name %>"</strong></p>
    <div class="form-group">
        <section class="text-left">
            <label for="text">Text:</label> 
        </section>
        <input id="text" type="text" aria-placeholder="Enter text" placeholder="Enter text" name="comment[text]" class="form-control">
    </div>
    <section class="d-flex justify-content-end">
        <button class="btn btn-primary">Post</button>
    </section>
    </form>

    <section class="dropdown-divider"></section>

    <!-- comments -->
    <h5>Comments</h5>
    <ul class="list-group">
    <% campground.comments.map(comment => { %>
        <li id="comments"class="list-group-item">
            <p class="text-left col-8"><strong><%= comment.author.username %> said:</strong></p>
            <section class="d-flex justify-content-between">
                <p class="text-left col-8"><%= comment.text %></p>
                <p class="col-4"><em>Posted 10 days ago</em></p>
            </section>
            <section class="text-left"><a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning btn-sm text-mute">Edit comment</a></section>
    <% }) %>
    </ul>

    </section>

    </section>

</main>

<% include ../partials/footer %>